server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      webflux:
        routes:
          - id: user-service
            uri: http://localhost:8081
            predicates:
              - Path=/auth/**

          - id: blog-service
            uri: http://localhost:8082
            predicates:
              - Path=/blog/**

        default-filters:
          - AddRequestHeader=X-Gateway, SpringCloudGateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG